body{
  background-color: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  font-size:14px;
  margin: 0;
}
.wrapper{
  max-width: 1110px;
  margin: 0 auto;
}
.nav{
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
  margin-top: 16px;
  margin-bottom: 17px;
  
}
.nav li{
  margin-right: 30px;
  margin-left: 0;
  
}
.nav li a{
  text-decoration: none;
  color: #333333;
}
.header{
  background-color: white;
}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo{
  color:#66C05D;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
}
.logo-image{
  display:block;
  width: 80px;
  height: 80px;
  background-image: url(../img/logo.svg);
  margin-right: 20px;
}
.header-info span{
  font-size: 16px;
}
.header-info button{
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #66C05D;
  background-color: transparent;
  padding: 10px 15px;
  margin-left: 40px;
  transition: 0.2s ease;
}

.header-info button:hover{
  background-color: 2px solid #66C05D;
}
.header-bottom{
  padding:15px
}
.header-bottom nav{
  font-size: 16px;
  margin:0;
}
.header-bottom .nav li{
  margin-right: 40px;
}

hr{
  border:none;
  color: #EFEFEF;
  height: 1px;
}
.banner{
  background-image: url(../img/bd.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 159px;
  padding-bottom: 204px;
  color: #fff;
}

.banner p{
  margin-top: 50px;
  margin-bottom: 62px;
  max-width: 308px;
  line-height: 20px;
}

.title{
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
.title-h2{
  font-size: 24px;
  font-weight: 700;
}

.btn{
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 12px 27px;
  background-color: transparent;
  transition: 0.2s ease;
}

.btn:hover{
  background-color: #fff;
  color:#333333;
}
.bg-white{
  background-color:#fff;
}
.bg-green{
  background-color:#66C05D;
  color:#fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
  padding: 35px 40px;
}
.bg-green-item{
  flex: 0 0 60%;
}
.bg-green-item:last-child{
  flex: 0 0 40%;
}
.bg-green h3{
  font-size: 18px;
  font-size: 700;
  margin: 0;
}
.bg-green input{
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 25px;
}
.bg-green .btn{
  display: block;
  text-align: center;
  max-width: 150px;
  padding: 11.2px 30px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 30px;
}
.grid-item-title{
  margin-top: 80px;
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid-item-image{
  margin-top: 80px;
  grid-column: 4/5;
  grid-row: 1/2;
  text-align: center;
}
.grid-item-left{
  grid-column: 1/3;
  grid-row: 3/4;
}
.grid-item-right{
  grid-column: 3/5;
  grid-row: 3/4;
}
.grid-item-catalog{
  text-align: center;
}

.grid-item-catalog .bg-white{
  padding: 25px 30px;
}
.grid-title{
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}
.grid-price{
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 29px;
}
.grid-btn{
  font-size: 14px;
  border-radius: 30px;
  background-color: #66C05D;
  padding: 10px 40px;
  transition: 0.2s ease;
  color:#fff;
  text-decoration: none;
}
.bg-green-item p{
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 20px;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.footer-bottom p{
  margin: 0;
  font-size: 12px;
  color:#828282;
}
.footer-bottom a{
  text-decoration: none;
  font-size: 12px;
  color:#828282;
}
.phone{
  margin-left: 105px;
  font-size: 16px;
}
.social{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 37px;
  margin-bottom: 37px;
}
.social-item{
  margin-right: 20px;
}
.social-link{
  border: 2px solid #66C05D;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.social-youtube{
  background-image: url(../img/youtube.svg);
}
.social-vk{
  background-image: url(../img/vk.svg);
}
.social-fb{
  background-image: url(../img/fb.svg);
}
.social-insta{
  background-image: url(../img/insta.svg);
}
.footer-top{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 133px;
}
.footer-top-item button{
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #66C05D;
  background-color: transparent;
  padding: 10px 15px;
  margin-left: 40px;
  transition: 0.2s ease;
}
.footer-top-item button:hover{
  background-color: 2px solid #66C05D;
}
